# VARIADIC FUNCTION

# KEYBOARD SHORTCUT
1. esc, y = Code cell
2. esc, m = markdown
3. shift + enter = run the cell

In [3]:
def add(a: int|float, b: int|float)-> int|float:
    c = a + b
    return c

In [4]:
# ARGUMENTS INPUT
add(7, 9)

16

In [5]:
add(12.34, 17.45)

29.79

In [6]:
# KEYWORD ARGUMENTS IN PYTHON 
add(a = 23, b= 56)

79

# TRYING TO ADD 3 VARIABLES USING THE ADD FUNCTION WHICH HAS ONLY TWO PARAMETERS

# Create args inside function 
*args = this will act like a tuple in python

In [7]:
def function(*args):
    print(args)
    print(type(args))
    for i in args :
        print(i)

In [8]:
function(7, 8, 9)

(7, 8, 9)
<class 'tuple'>
7
8
9

# Unpack a list using *list_name

In [9]:
a = ["Ayushi", "Pranay", "Pradutt","Megha", True , False]

In [11]:
function(*a)

('Ayushi', 'Pranay', 'Pradutt', 'Megha', True, False)
<class 'tuple'>
Ayushi
Pranay
Pradutt
Megha
True
False

# Given the cart products of a customers total billing of products

In [13]:
l1 =[
    ("Laptop", 75000, 2),
    ("Mouse", 1500, 3),
    ("Keyboard", 2000, 1)
]

In [15]:
def billing(*args):
    # Initialize total bill with 0
    total_bill = 0

    # apply for loop on args 
    for name, price, qty in args:
        subtotal = price*qty
        total_bill = total_bill + subtotal
        print(f"Name:{name}, Price:{price} INR, Quantity:{qty}")
        print(f"Subtotal : {subtotal} INR")
        print("\n---------------------------\n")

    # print and return total bill
    print(f"Total Bill:{total_bill:.2f} INR")
    return total_bill

In [16]:
t1 = billing(*l1)

Name:Laptop, Price:75000 INR, Quantity:2
Subtotal : 150000 INR

---------------------------

Name:Mouse, Price:1500 INR, Quantity:3
Subtotal : 4500 INR

---------------------------

Name:Keyboard, Price:2000 INR, Quantity:1
Subtotal : 2000 INR

---------------------------

Total Bill:156500.00 INR

In [17]:
t1

156500

# Flexible in keywords arguments
**kwargs - these act like a dictionary in python 

{key1:value1, key2:value2, key3:value3}