# FUNCTIONS DECORATORS

13/02/2025
1. decorators is used to modify behaviour of a function 
2. Input of decorator can be any genral function
3. Output of decorator is called as wrapper

Create a decorator function which will welcome the user and thank the user

In [1]:
def welcome(func):
    def wrapper(*args,**kwargs):
        print("WELCOME BUDDY")
        result = func(*args, **kwargs)
        print(f"Result: {result}")
        print("THANK YOU")
        return result
    
    return wrapper

Applying decorator on function

In [9]:
@ welcome
def simple_interest(p, n, r):
    i = (p * n * r)/100
    a = p + i 
    return i, a

In [10]:
#Input as kwargs
r1 = simple_interest(p = 34000, n = 5, r = 7.1)

WELCOME BUDDY
Result: (12070.0, 46070.0)
THANK YOU

In [11]:
r1

(12070.0, 46070.0)

In [12]:
#Input as args
r2 = simple_interest(15000, 3, 6.5)

WELCOME BUDDY
Result: (2925.0, 17925.0)
THANK YOU

In [13]:
r2

(2925.0, 17925.0)

In [14]:
@welcome
def hypotenuse(a, b):
    hyp = (a**2 + b**2)**1/2
    return hyp

In [15]:
h1 = hypotenuse(9, 10)

WELCOME BUDDY
Result: 90.5
THANK YOU

In [16]:
h1

90.5

In [17]:
h2 = hypotenuse(12.44, 34.43)

WELCOME BUDDY
Result: 670.08925
THANK YOU

In [18]:
h2

670.08925

I want to check the time required for code execution

In [5]:
import time

In [20]:
time.sleep(5)
print("Hello !!")

Hello !!

In [21]:
# Measurin time in nanosecond 
start = time.perf_counter_ns()
print(45**3)
stop = time.perf_counter_ns()
duration = stop - start 
print(f"Time required to execute the above code is {duration:.2f} nano-seconds")

91125
Time required to execute the above code is 411700.00 nano-seconds

In [24]:
# Measuring time in seconds
start = time.perf_counter()
time.sleep(5)
print("Welcome to this code")
time.sleep(2)
print("Advance Python class is going on ")
stop = time.perf_counter()
dur = stop - start 
print(f" Time required to execute this code with intensional time delay of 7 sec is {dur} secs")

Welcome to this code
Advance Python class is going on
 Time required to execute this code with intensional time delay of 7 sec is 7.001500900000792 secs

In [1]:
def time_decorator(funs):
    def wrapper(*args, **kwargs):
        start = time.perf_counter()
        res = funs(*args, **kwargs)
        print(f"Result: {res}")
        stop = time.perf_counter()
        dur = stop - start 
        print(f"Duration to execute the code is {dur:.2f} sec")
        return res
    return wrapper

In [ ]:
#odd even 
@time_decorator
def even_odd(num:int|float):
    time.sleep(2)
    if num % 2 ==0 :
        return"even"
    else:
        return"odd"

In [7]:
even_odd(12)

Result: even
Duration to execute the code is 2.00 sec

'even'

In [8]:
even_odd(45)

Result: odd
Duration to execute the code is 2.00 sec

'odd'

In [21]:
# square of list 
@time_decorator
def square_list(nums:list[int|float]) -> list[int|float]:
    s = []
    for i in nums:
        time.sleep(1)
        r = i **2 
        print(f"Square of number {i} is {r} ")
        s.append(r)
        
    # return value of s outside the for loop
    return s

In [22]:
l1 = [1,2,3,4,5,6,7,8,9,10]

In [23]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
s1 = square_list(l1)

Square of number 1 is 1
Square of number 2 is 4
Square of number 3 is 9
Square of number 4 is 16
Square of number 5 is 25
Square of number 6 is 36
Square of number 7 is 49
Square of number 8 is 64
Square of number 9 is 81
Square of number 10 is 100
Result: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Duration to execute the code is 10.01 sec

In [25]:
s1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
l2 = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
l2

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [29]:
square_list(l2)

Square of number 10 is 100
Square of number 11 is 121
Square of number 12 is 144
Square of number 13 is 169
Square of number 14 is 196
Square of number 15 is 225
Square of number 16 is 256
Square of number 17 is 289
Square of number 18 is 324
Square of number 19 is 361
Square of number 20 is 400
Result: [100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
Duration to execute the code is 11.01 sec

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Anonymous function / Lambda function 
Lambda function are written in a single line of code

In [30]:
# Lambda function to get square of a single number
square = lambda x : x**2

In [31]:
square(9)

81

In [32]:
square(12)

144

In [33]:
# Calculare simple interest using lambda function
si = lambda p, n, r : (p * n * r)/100

In [34]:
si(25000, 5, 8.5)

10625.0

In [37]:
d1 = si(p= 1700000,n= 2, r=8.4)

In [38]:
d1

285600.0

In [39]:
# Find out even odd using lambda fumction
eo = lambda x : "even" if x % 2 == 0 else "odd"

In [40]:
eo(52)

'even'

In [41]:
eo(85)

'odd'

In [42]:
# Calculate cube of numbers from a given list using lambda function
cube = lambda nums:[i**3 for i in nums]

In [43]:
c = [12,43,23,68,98,12,56]

In [44]:
c1 = cube(c)

In [45]:
c1

[1728, 79507, 12167, 314432, 941192, 1728, 175616]